/* member.css */


/* ... rest of the styles ... */
.reg input {
	width: 100px;
}

.info-label {
    font-weight: bold;
}

.info-value {
    margin-bottom: 10px;
}

.edit-btn {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #218838;
}

.save-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #0056b3;
}

.cancel-btn {
    padding: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #c82333;
}

.sk {
	width: 10px;
	background-color: #000000!important;
}
